/* ==========================================================================
   Mixins
   ========================================================================== */


@mixin font-smoothing($value: on) {
    @if $value==on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin animate-link ($anim-line-h: 100%, $anim-line-v: 1px, $paint: color(text)) {
    position: relative;

    overflow: hidden;

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        width: $anim-line-h;
        height: $anim-line-v;

        transition: .18s cubic-bezier(.52, .01, .16, 1);
        transform: scaleX(0);
        transform-origin: 0 50%;

        background: $paint;
    }
}

@mixin animate-link-reverse () {
    &:before {
        transition-timing-function: cubic-bezier(.62, .02, .34, 1);
        transition-duration: .24s;
        transform: scaleX(1);
    }
}

@mixin cover-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-col-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row-space {
    display: flex;
    justify-content: space-between;
}

@mixin flex-row-center {
    display: flex;
    align-items: center;
}


@mixin menu-list {
    list-style-type: none;
    text-transform: uppercase;
}

@mixin menu-item {
    color: color(text);
    fill: color(text);

    &:hover {
        color: color(main);
        fill: color(main);
    }
}
